.container {
    // display: flex;
    // flex-direction: row;
    // gap: 20px;
    margin-top: 80px;
  }
  

  
  .full-width {
    width: 100%;
  }
  
  .mat-checkbox {
    margin-bottom: 10px;
  }
  