<div class="topbar">
  <div class="toolbar-left">
    <div class="brand">
      <mat-icon class="brand-icon">dashboard</mat-icon>
      <span class="brand-name">Crm Esarwa</span>
    </div>
  </div>
  <div class="toolbar-center">
    <nav class="nav-links">
      <a mat-button routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>home</mat-icon> Dashboard
      </a>
      <a mat-button routerLink="/organization/department" routerLinkActive="active-link">
        <mat-icon>people</mat-icon> Department
      </a>
      <a mat-button routerLink="/organization/designation" routerLinkActive="active-link">
        <mat-icon>work</mat-icon> Designation
      </a>
      <a mat-button routerLink="/organization/branch" routerLinkActive="active-link">
        <mat-icon>store</mat-icon> Branch
      </a>
      <a mat-button routerLink="/lead/lead-list" routerLinkActive="active-link">
        <mat-icon>assignment</mat-icon> Lead List
      </a>
      <a mat-button routerLink="/followup/follow-up-list" routerLinkActive="active-link">
        <mat-icon>check_circle</mat-icon> Follow-Up List
      </a>
      <a mat-button routerLink="/ticket/ticket" routerLinkActive="active-link">
        <mat-icon>confirmation_number</mat-icon> Ticket Generation      </a>
      <a mat-button routerLink="/ticket/list" routerLinkActive="active-link">
        <mat-icon>format_list_bulleted</mat-icon> Ticket List
      </a>
      <a mat-button routerLink="/ticket/comment-form" routerLinkActive="active-link">
        <mat-icon>comment</mat-icon> Comment
      </a>
      <a mat-button routerLink="/app-sidebar" routerLinkActive="active-link">
        <mat-icon>settings</mat-icon> Settings
      </a>
    </nav>
  </div>
  <div class="toolbar-right">
    <div class="auth-buttons">
      <!-- <button *ngIf="!isLoggedIn" class="nav_list" mat-stroked-button routerLink="/login">Login</button> -->
      <div class="dropdown">
        <button mat-icon-button (click)="toggleDropdown()">
          <mat-icon>account_circle</mat-icon>
        </button>
        <div class="dropdown-content" *ngIf="dropdownOpen" [ngClass]="{'show': dropdownOpen}">
          <button class="nav_list" mat-raised-button color="warn" (click)="logout()">
            <mat-icon>logout</mat-icon> Logout 
            <!-- <mat-icon>exit_to_app</mat-icon> -->
          </button>
        </div>
      </div>
    </div>
  </div>
</div>